body { font-family: arial; }

header {
	margin-bottom: 20px;
}

#container {
	width: 900px;
	margin: auto;
}

#main {
	width: 500px;
	float: left;
	background: #eee;
	padding: 20px;
	margin-right: 10px;
	height: 500px;
	overflow-y: scroll;
}

#sidebar {
	width: 300px;
	float: left;
	padding: 20px;
	background: #eee;
	margin-left: 10px;
}

footer {
	clear: both;
	text-align: center;
	padding: 10px;
}

.loading {
	background-color: yellow; 
	padding: 10px;
}

.song {
	border-bottom: 1px solid black;
	background: white;
	padding: 20px;
}

.song img {
	float: left;
	margin-right: 20px;
}

.song h4 {
	margin-top: 0;
}