<!doctype html>
<html ng-app="itunes-search-app">
<head>
	<title>iTunes API example</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>

<div id="container" ng-controller="SongsSearchController">
	<header>
		<h1>iTunes Search Application</h1>
		<form ng-submit="search()">
			<input type="search" ng-model="artistSearch" />
			<input type="submit" />
		</form>
	</header>

	<div id="main">
		<h2>Songs</h2>
		<div>
			<p ng-hide="songs.length">Please make a search</p>
			<div>
				<p ng-show="loading" class="loading">Loading ...</p>
				<div id="chart"></div>
				<div ng-repeat="song in songs" class="song">
					<img ng-src="{{ song.artworkUrl60 }}" />
					<h4>{{ song.trackName }}</h4>
					<p>Artist: {{ song.artistName }}</p>
					<button ng-click="favorite(song)">Favorite</button>
				</div>
			</div>
		</div>
	</div>

	<div id="sidebar">
		<h2>Previous Searches</h2>
		<div ng-switch on="previousSearches.length">
			<p ng-switch-when="0">No previous searches</p>	
			<ul ng-switch-default>
				<li ng-repeat="previousSearch in previousSearches">
					{{ previousSearch }}
				</li>
			</ul>
		</div>
		<h2>Favorite Songs</h2>
		<p ng-hide="favoriteSongs.length">No favorited songs</p>
		<ul>
			<li ng-repeat="favoriteSong in favoriteSongs">
				{{ favoriteSong.trackName }} by {{ favoriteSong.artistName }}
			</li>
		</ul>
	</div>

	<footer>
		<p>&copy; ITP 404, 2013</p>
	</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="Chart.js"></script>
<script src="main.js"></script>

</body>
</html>